@font-face {
    font-family: 'GNUTypewriter';
    src: url('gtw.ttf');
} 

.bg-f{background-color: #fff;}
.bg-e{background-color: #eee;}
.bg-d{background-color: #ddd;}
.bg-c{background-color: #ccc;}
.bg-b{background-color: #bbb;}
.bg-a{background-color: #aaa;}
.bg-9{background-color: #999;}
.bg-8{background-color: #888;}

.picpass-font{
    font-family: GNUTypewriter,monospace;
}

.card{
    height: 98vh; 
    width: 320px;
}

.card-body{
    min-width: 288px;
}

.form-group{
    min-width: 288px;
}

.header-title{
    font-size: x-large;
    background-image: url("polished-metal-plate.jpg");
    background-size: cover;
    display: none;
}

iframe {
    border-style: hidden !important;
    border-width: 0px !important;
}

.footer-title{
    font-family: GNUTypewriter;
    font-size: xx-small;
    display: none;
}


